{%  extends 'main/common/header.html' %} <!-- header.html을 상속하겠다 -->
{% block main %}
	<div class="container text-center pt-5">
		<h1>{{ todo.title }}</h1>

		<br>
		<table class="table table-bordered">
            {% if todo.is_complete == true %}
			<TR>
				<TH>DONE</TH>
				<TD>N</TD>
			</TR>
            {% else %}
			<TR>
				<TH>DONE</TH>
				<TD>Y</TD>
			</TR>
            {% endif %}
			<TR>
				<TH>due date</TH>
				<TD>{{ todo.end_date }}</TD>
			</TR>
			<TR>
				<TH>CONTENT</TH>
				<TD COLSPAN=3>{{ todo.content }}</TD>
			</TR>
		</TABLE>
{#		<a href="complete?num=${ todo.num }">완료</a>&nbsp;&nbsp;#}
		<a href="{% url 'board:board_update' pk=todo.no %}">수정하기</a>&nbsp;&nbsp;
		<a href="{% url 'board:board_delete' pk=todo.no %}">삭제하기</a>&nbsp;&nbsp;
		<a href="{% url 'board:board' %}">초기화면</a>
		 <br> <br>
	</div>
{% endblock main %}